@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(/images/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active {
    background: url(/images/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}
.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}
.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover {
    letter-spacing: 6px;
}
.social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li {
    list-style: none;
}
.social li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}
.menu ul li a:hover {
    color: #03a9f4;
}
/* Reset default list styles and set background color */
.head ul {
    padding: 0;
    list-style-type: none;
    background-color: #0b121b;
    margin-top: 0;
}

/* Style the main list items */
.head ul li {
    display: inline-block;
    position: relative;
    line-height: 20px;
    text-align: left;
    width: 120px;
}

/* Style links inside the main list items */
.head ul li a {
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}

/* Change link color and background on hover */
.head ul li a:hover {
    color: white;
    background-color: orangered;
}

/* Style dropdown submenus */
.head ul li ul.subhead {
    display: none; /* Hide dropdown menus by default */
    position: absolute;
    top: 100%; /* Position below the parent list item */
    left: 0;
    background-color: #0b121b;
    width: 120px;
}

/* Show dropdown submenu on hover of the parent list item */
.head ul li:hover ul.subhead {
    display: block;
}

/* Style nested list items in the dropdown submenu */
.head ul li ul.subhead li {
    border-bottom: 1px solid white;
}

/* Style links inside the nested list items */
.head ul li ul.subhead li a {
    padding: 8px 25px;
    color: white;
    text-decoration: none;
    display: block;
}

/* Change link color and background on hover inside nested list items */
.head ul li ul.subhead li a:hover {
    color: white;
    background-color: orangered;
}
.head ul li ul.subhead {
    min-width: 100%;
    background-color: rgba(11, 18, 27, 0.8);
    color: white;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
.head ul li ul li ul.topic {
    display: none;
}
.head ul li ul li:hover ul.topic {
    display: block;
    left: 100%;
    top: 0%;
    position: absolute;
}

@media (max-width: 991px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
}
